<h1><%= @animal.name() %></h1>

<ul>
  <li>Gender: <%= @animal.gender() %></li>
  <li>Date of Admittance: <%= @animal.date_of_admittance() %></li>
  <li>Type: <%= @animal.type() %></li>
  <li>Breed: <%= @animal.breed() %></li>
</ul>

<h1>Owner information</h1>

<ul>
  <li>Name: <%= @owner.name() %></li>
  <li>Phone number: <%= @owner.phone() %></li>
</ul>
